/* Custom Dark Theme */
/* :root {
  --bs-body-bg: #4b4848;
  --bs-body-color: #e0e0e0;
  --bs-link-color: #1e90ff;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

a {
  color: var(--bs-link-color);
} */
